build==1.0.3
CacheControl==0.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
ciso8601==2.3.1
cleo==2.1.0
crashtest==0.4.1
distlib==0.3.7
dulwich==0.21.6
fastjsonschema==2.19.0
filelock==3.13.1
idna==3.6
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
json2parquet==2.1.0
keyring==24.3.0
numpy==1.26.2
packaging==23.2
pandas==1.5.3
pexpect==4.9.0
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pyarrow==10.0.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
rapidfuzz==3.5.2
requests==2.31.0
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.16.0
tomli==2.0.1
tomlkit==0.12.3
trove-classifiers==2023.11.22
urllib3==2.1.0
virtualenv==20.24.7
